html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

section {
    height: 100%;
    width: 100%;
}

.overview {
    position: relative;
    background: black;
    margin-bottom: 200px;
}

.prof-image-wrap {
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -200px;
    margin-bottom: -200px;
}

.prof-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px solid #eee;
    box-sizing: border-box;
}

#main {
    width: 40rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.company-link:hover {
    color: #ccc;
}

.name {
    font-size: 50px;
    margin-bottom: 5px;
    color: #eee;
}

.title {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 16px;
}

.social-links {
    padding: 0;
}

.link-list {
    list-style-type: none;
    display: inline-block;
    width: 16%;
}

.link {
    color: #aaa;
    text-decoration: none;
}

.link:hover {
    color: #ccc;
}

.s-body {
    padding: 40px 0;
}

.s-title {
    text-align: center;
    font-size: 70px;
}

.t-border {
    background-color: #F54F36;
    display: block;
    margin: 25px auto;
    width: 60px;
    height: 2px;
}

.c-main {
    position: relative;
    height: 600px;
}

.map-overlay {
    background: rgba(4, 175, 15, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
}

.c-list {
    top: 50%;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translate(0, -50%);
}

.c-item {
    list-style-type: none;
    width: 24%;
    text-align: center;
    display: inline-block;
}

.c-i-icon {
    height: 150px;
    width: 150px;
    margin: auto;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
}

.c-i-icon:hover {
    background: #01c87b;
    border-color: #01c87b;
}

.c-ii-svg {
    height: 60px;
    width: 60px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    fill : white;
}

.c-i-label {
    font-size: 24px;
    padding-top: 20px;
}

#map {
    height: 100%;
    width: 100%
}